* .header__h1{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: -5px;
    background: rgb(15, 0, 0);
}
* body { 
    margin: 10px;
    background: rgb(109, 158, 232);
}
p { text-align: center;}

/* I can target an element with CSS by using several different ways.
One way is using the element name. Another way is using a class value. 
And yet another is using the element's id, although this is frowned upon
 in the larger community. */
.header__h1 {color: blue;

}
 .header__h2 {
    text-align: center;
    color: rgb(211, 7, 7);
    
 }

 .header__section {
    text-align: center
 }
 img {
    size-adjust: 100px;
    padding: 20px;
    border: solid 5px black;
    margin: 0px
 }

h1 { text-align: center;}
img2 {
    size-adjust: 20px;
}